<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520491935974-bqbr4mcrfrs9tajpuftmos5i6257cgqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520491935974-bqbr4mcrfrs9tajpuftmos5i6257cgqq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>520491935974-4k223nikogjnerb6t3og6terk495o5bu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMbyVNPN7ElcWZby_Qy_QBNQ5yl99K0DU</string>
	<key>GCM_SENDER_ID</key>
	<string>520491935974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fsldictionary</string>
	<key>PROJECT_ID</key>
	<string>fsl-3d-dictionary</string>
	<key>STORAGE_BUCKET</key>
	<string>fsl-3d-dictionary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520491935974:ios:869c783fe56e24a6df3327</string>
</dict>
</plist>